@function bg-color($index) {
  $index: $index - 1;
  $color-count: length($colors);
  $color-index: $index % $color-count;
  @return nth($colors, $color-index + 1);
}
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

// background color & text color & hover background and text color
@mixin bg($color){
  background-color: map-get($colorsMap,$color);
}
@mixin text($color){
  color: map-get($colorsMap,$color);
}
@mixin border($color){
  border-color: map-get($colorsMap,$color);
}
// border color
@mixin border-top($color) {
  border-top-color: map-get($colorsMap,$color);
}

@mixin border-left($color) {
  border-left-color: map-get($colorsMap,$color);
}

@mixin border-right($color) {
  border-right-color: map-get($colorsMap,$color);
}

@mixin border-bottom($color) {
  border-bottom-color: map-get($colorsMap,$color);
}

@mixin border-x($color) {
  @include border-left($color);
  @include border-right($color);
}

@mixin border-y($color) {
  @include border-top($color);
  @include border-bottom-color($color);
}

@mixin w($width) {
  width: #{$width}+'%';
}
@mixin mxw($width) {
  max-width: $width+'%';
}

@mixin mnw($width) {
  min-width: $width+'%';
}

@mixin h($height) {
  height: $height+'%';
}
@mixin mxh($height) {
  max-height: $height+'%';
}

@mixin mnh($height) {
  min-height: $height+'%';
}

// paddings

@mixin p($padding) {
  padding: #{$padding}px;
}
@mixin px($padding) {
  padding-left: #{$padding}px;
  padding-right: #{$padding}px;
}
@mixin py($padding) {
  padding-top: #{$padding}px;
  padding-bottom: #{$padding}px;
}
@mixin pt($padding) {
  padding-top: #{$padding}px;
}
@mixin pb($padding) {
  padding-bottom: #{$padding}px;
}
@mixin pl($padding) {
  padding-left: #{$padding}px;
}
@mixin pr($padding) {
  padding-right: #{$padding}px;
}


@mixin m($margin) {
  margin: #{$margin}px;
}
@mixin mx($margin) {
  margin-left: #{$margin}px;
  margin-right: #{$margin}px;
}
@mixin my($margin) {
  margin-top: #{$margin}px;
  margin-bottom: #{$margin}px;
}
@mixin mt($margin) {
  margin-top: #{$margin}px;
}
@mixin mb($margin) {
  margin-bottom: #{$margin}px;
}
@mixin ml($margin) {
  margin-left: #{$margin}px;
}
@mixin mr($margin) {
  margin-right: #{$margin}px;
}


@mixin m-auto(){
  margin: auto;
}
@mixin ml-auto(){
  margin-left: auto;
}
@mixin mr-auto(){
  margin-right: auto;
}
@mixin mt-auto(){
  margin-top: auto;
}
@mixin mb-auto(){
  margin-bottom: auto;
}




// radius ($radius par exemple = 4xl,sm etc)
@mixin radius($radius) {
  border-radius: index($lengths, $radius) * $border-radius-start;
}
@mixin radius-none{
  border-radius: $border-radius-none;
}

@mixin radius-full{
  border-radius: $border-radius-full;
}

@mixin tl-radius($radius) {
  border-top-left-radius: index($lengths, $radius) * $border-radius-start;
}
@mixin tr-radius($radius) {
  border-top-right-radius: index($lengths, $radius) * $border-radius-start;
}
@mixin br-radius($radius) {
  border-bottom-right-radius: index($lengths, $radius) * $border-radius-start;
}
@mixin bl-radius($radius) {
  border-bottom-left-radius: index($lengths, $radius) * $border-radius-start;
}
@mixin l-radius($radius) {
  @include bl-radius($radius);
  @include tl-radius($radius);  
}
@mixin r-radius($radius) {
  @include br-radius($radius);
  @include tr-radius($radius);
}
@mixin t-radius($radius) {
  @include tl-radius($radius);
  @include tr-radius($radius); 
}
@mixin b-radius($radius) {
  @include bl-radius($radius);
  @include br-radius($radius);  
}

.transition-bg-color {
  transition: background-color 0.3s ease;
}

@for $i from -10 through 999{
  .z-#{$i} {
    z-index: $i;
  }
} 
@for $i from 0 through 1000 {
  .w-#{$i} {
    width: #{$i}px;
  }
  .h-#{$i} {
    height: #{$i}px;
  }

  .w-#{$i}-em {
    width: #{$i}em;
  }
  .h-#{$i}-em {
    height: #{$i}em;
  }
  .min-w-#{$i} {
    min-width: #{$i}px;
  }
  .min-h-#{$i} {
    min-height: #{$i}px;
  }
  .max-w-#{$i} {
    max-width: #{$i}px;
  }
  .max-h-#{$i} {
    max-height: #{$i}px;
  }
  .hover\:w-#{$i}:hover {
    width: #{$i}px;
  }
  .hover\:h-#{$i}:hover {
    height: #{$i}px;
  }
  .hover\:min-w-#{$i}:hover {
    min-width: #{$i}px;
  }
  .hover\:min-h-#{$i}:hover {
    min-height: #{$i}px;
  }
  .hover\:max-w-#{$i}:hover {
    max-width: #{$i}px;
  }
  .hover\:max-h-#{$i}:hover {
    max-height: #{$i}px;
  }
  .border-#{$i} {
    border: #{$i}px solid;
  }
  .border-t-#{$i} {
    border-top: #{$i}px solid;
  }
  .border-r-#{$i} {
    border-right: #{$i}px solid;
  }
  .border-b-#{$i} {
    border-bottom: #{$i}px solid;
  }
  .border-l-#{$i} {
    border-left: #{$i}px solid;
  }
  .hover\:border-#{$i}:hover {
    border: #{$i}px solid;
  }
  .hover\:border-t-#{$i}:hover {
    border-top: #{$i}px solid;
  }
  .hover\:border-r-#{$i}:hover {
    border-right: #{$i}px solid;
  }
  .hover\:border-b-#{$i}:hover {
    border-bottom: #{$i}px solid;
  }
  .hover\:border-l-#{$i}:hover {
    border-left: #{$i}px solid;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      .#{$breakpoint}\:w-#{$i} {
        width: #{$i}px solid !important;
      }
      .#{$breakpoint}\:border-#{$i} {
        border: #{$i}px solid !important;
      }
      .#{$breakpoint}\:border-t-#{$i} {
        border-top: #{$i}px solid !important;
      }
      .#{$breakpoint}\:border-r-#{$i} {
        border-right: #{$i}px solid !important;
      }
      .#{$breakpoint}\:border-b-#{$i} {
        border-bottom: #{$i}px solid !important;
      }
      .#{$breakpoint}\:border-l-#{$i} {
        border-left: #{$i}px solid !important;
      }
      .#{$breakpoint}\:hover\:border-#{$i}:hover {
        border: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:border-t-#{$i}:hover {
        border-top: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:border-r-#{$i}:hover {
        border-right: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:border-b-#{$i}:hover {
        border-bottom: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:border-l-#{$i}:hover {
        border-left: #{$i}px !important;
      }
      .#{$breakpoint}\:h-#{$i} {
        height: #{$i}px !important;
      }
      .#{$breakpoint}\:w-#{$i}-em {
        width: #{$i}em;
      }
      .#{$breakpoint}\:h-#{$i}-em {
        height: #{$i}em;
      }
      .#{$breakpoint}\:min-w-#{$i} {
        min-width: #{$i}px !important;
      }
      .#{$breakpoint}\:min-h-#{$i} {
        min-height: #{$i}px !important;
      }
      .#{$breakpoint}\:max-w-#{$i} {
        max-width: #{$i}px !important;
      }
      .#{$breakpoint}\:max-h-#{$i} {
        max-height: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:w-#{$i}:hover {
        width: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:h-#{$i}:hover {
        height: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:min-w-#{$i}:hover {
        min-width: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:min-h-#{$i}:hover {
        min-height: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:max-w-#{$i}:hover {
        max-width: #{$i}px !important;
      }
      .#{$breakpoint}\:hover\:max-h-#{$i}:hover {
        max-height: #{$i}px !important;
      }
    }
  }
}


@for $i from 0 through 100 {
  .w-#{$i}\/100 {
    width: #{$i}+'%';
  }
  .min-w-#{$i}\/100 {
    min-width: #{$i}+'%';
  }
  .max-w-#{$i}\/100 {
    max-width: #{$i}+'%';
  }
  .h-#{$i}\/100 {
    height: #{$i}+'%';
  }
  .min-h-#{$i}\/100 {
    min-height: #{$i}+'%';
  }
  .max-h-#{$i}\/100 {
    max-height: #{$i}+'%';
  }
  .p-#{$i} {
    padding: #{$i*2}px;
  }
  .px-#{$i} {
    padding-left: #{$i*2}px;
    padding-right: #{$i*2}px;
  }
  .py-#{$i} {
    padding-top: #{$i*2}px;
    padding-bottom: #{$i*2}px;
  }
  .pt-#{$i} {
    padding-top: #{$i*2}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i*2}px;
  }
  .pl-#{$i} {
    padding-left: #{$i*2}px;
  }
  .pr-#{$i} {
    padding-right: #{$i*2}px;
  }
  .hover\:w-#{$i}\/100 {
    width: #{$i}+'%';
  }
  .hover\:min-w-#{$i}\/100 {
    min-width: #{$i}+'%';
  }
  .hover\:max-w-#{$i}\/100 {
    max-width: #{$i}+'%';
  }
  .hover\:h-#{$i}\/100 {
    height: #{$i}+'%';
  }
  .hover\:min-h-#{$i}\/100 {
    min-height: #{$i}+'%';
  }
  .hover\:max-h-#{$i}\/100 {
    max-height: #{$i}+'%';
  }
  .hover\:p-#{$i}:hover {
    padding: #{$i*2}px;
  }
  .hover\:px-#{$i}:hover {
    padding-left: #{$i*2}px;
    padding-right: #{$i*2}px;
  }
  .hover\:py-#{$i}:hover {
    padding-top: #{$i*2}px;
    padding-bottom: #{$i*2}px;
  }
  .hover\:pt-#{$i}:hover {
    padding-top: #{$i*2}px;
  }
  .hover\:pb-#{$i}:hover {
    padding-bottom: #{$i*2}px;
  }
  .hover\:pl-#{$i}:hover {
    padding-left: #{$i*2}px;
  }
  .hover\:pr-#{$i}:hover {
    padding-right: #{$i*2}px;
  }
  .m-#{$i} {
    margin: #{$i*2}px;
  }
  .mx-#{$i} {
    margin-left: #{$i*2}px;
    margin-right: #{$i*2}px;
  }
  .my-#{$i} {
    margin-top: #{$i*2}px;
    margin-bottom: #{$i*2}px;
  }
  .mt-#{$i} {
    margin-top: #{$i*2}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i*2}px;
  }
  .ml-#{$i} {
    margin-left: #{$i*2}px;
  }
  .mr-#{$i} {
    margin-right: #{$i*2}px;
  }
  .hover\:m-#{$i}:hover {
    margin: #{$i*2}px;
  }
  .hover\:mx-#{$i}:hover {
    margin-left: #{$i*2}px;
    margin-right: #{$i*2}px;
  }
  .hover\:my-#{$i}:hover {
    margin-top: #{$i*2}px;
    margin-bottom: #{$i*2}px;
  }
  .hover\:mt-#{$i}:hover {
    margin-top: #{$i*2}px;
  }
  .hover\:mb-#{$i}:hover {
    margin-bottom: #{$i*2}px;
  }
  .hover\:ml-#{$i}:hover {
    margin-left: #{$i*2}px;
  }
  .hover\:mr-#{$i}:hover {
    margin-right: #{$i*2}px;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      .#{$breakpoint}\:w-#{$i}\/100 {
        width: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:min-w-#{$i}\/100 {
        min-width: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:max-w-#{$i}\/100 {
        max-width: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:h-#{$i}\/100 {
        height: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:min-h-#{$i}\/100 {
        min-height: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:max-h-#{$i}\/100 {
        max-height: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:hover\:w-#{$i}\/100:hover {
        width: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:hover\:min-w-#{$i}\/100:hover {
        min-width: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:hover\:max-w-#{$i}\/100:hover {
        max-width: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:hover\:h-#{$i}\/100:hover {
        height: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:hover\:min-h-#{$i}\/100:hover {
        min-height: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:hover\:max-h-#{$i}\/100:hover {
        max-height: #{$i}+'%' !important;
      }
      .#{$breakpoint}\:p-#{$i} {
        padding: #{$i*2}px !important;
      }
      .#{$breakpoint}\:px-#{$i} {
        padding-left: #{$i*2}px !important;
        padding-right: #{$i*2}px !important;
      }
      .#{$breakpoint}\:py-#{$i} {
        padding-top: #{$i*2}px !important;
        padding-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:pt-#{$i} {
        padding-top: #{$i*2}px !important;
      }
      .#{$breakpoint}\:pb-#{$i} {
        padding-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:pl-#{$i} {
        padding-left: #{$i*2}px !important;
      }
      .#{$breakpoint}\:pr-#{$i} {
        padding-right: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:p-#{$i}:hover {
        padding: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:px-#{$i}:hover {
        padding-left: #{$i*2}px !important;
        padding-right: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:py-#{$i}:hover {
        padding-top: #{$i*2}px !important;
        padding-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:pt-#{$i}:hover {
        padding-top: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:pb-#{$i}:hover {
        padding-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:pl-#{$i}:hover {
        padding-left: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:pr-#{$i}:hover {
        padding-right: #{$i*2}px !important;
      }
      .#{$breakpoint}\:m-#{$i} {
        margin: #{$i*2}px !important;
      }
      .#{$breakpoint}\:mx-#{$i} {
        margin-left: #{$i*2}px !important;
        margin-right: #{$i*2}px !important;
      }
      .#{$breakpoint}\:my-#{$i} {
        margin-top: #{$i*2}px !important;
        margin-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:mt-#{$i} {
        margin-top: #{$i*2}px !important;
      }
      .#{$breakpoint}\:mb-#{$i} {
        margin-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:ml-#{$i} {
        margin-left: #{$i*2}px !important;
      }
      .#{$breakpoint}\:mr-#{$i} {
        margin-right: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:m-#{$i} {
        margin: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:mx-#{$i} {
        margin-left: #{$i*2}px !important;
        margin-right: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:my-#{$i} {
        margin-top: #{$i*2}px !important;
        margin-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:mt-#{$i} {
        margin-top: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:mb-#{$i} {
        margin-bottom: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:ml-#{$i} {
        margin-left: #{$i*2}px !important;
      }
      .#{$breakpoint}\:hover\:mr-#{$i} {
        margin-right: #{$i*2}px !important;
      }
    }
  }
}

.aspect-ratio-1-1{
    aspect-ratio: 1 / 1;
}
@for $i from 1 through length($colors) {
  .bg-#{nth($color-names, $i)} {
    background-color: bg-color($i);
  }
  .text-#{nth($color-names, $i)} {
    color: bg-color($i);
  }
  .border-#{nth($color-names, $i)} {
    border-color: bg-color($i);
  }

  .border-top-#{nth($color-names, $i)} {
    border-top-color: bg-color($i);
  }

  .border-left-#{nth($color-names, $i)} {
    border-left-color: bg-color($i);
  }

  .border-right-#{nth($color-names, $i)} {
    border-right-color: bg-color($i);
  }

  .border-bottom-#{nth($color-names, $i)} {
    border-bottom-color: bg-color($i);
  }

  .border-x-color-#{nth($color-names, $i)} {
    border-left-color: bg-color($i);
    border-right-color: bg-color($i);
  }

  .border-y-color-#{nth($color-names, $i)} {
    border-top-color: bg-color($i);
    border-bottom-color: bg-color($i);
  }
  .hover\:bg-#{nth($color-names, $i)}:hover {
    background-color: bg-color($i);
  }
  
  .hover\:text-#{nth($color-names, $i)}:hover {
    color: bg-color($i);
  }
  .hover\:border-#{nth($color-names, $i)}:hover {
    border-color: bg-color($i);
  }

  .hover\:border-top-#{nth($color-names, $i)}:hover {
    border-top-color: bg-color($i);
  }

  .hover\:border-left-#{nth($color-names, $i)}:hover {
    border-left-color: bg-color($i);
  }

  .hover\:border-right-#{nth($color-names, $i)}:hover {
    border-right-color: bg-color($i);
  }

  .hover\:border-bottom-#{nth($color-names, $i)}:hover {
    border-bottom-color: bg-color($i);
  }

  .hover\:border-x-color-#{nth($color-names, $i)}:hover {
    border-left-color: bg-color($i);
    border-right-color: bg-color($i);
  }

  .hover\:border-y-color-#{nth($color-names, $i)}:hover {
    border-top-color: bg-color($i);
    border-bottom-color: bg-color($i);
  }
  @each $breakpoint in map-keys($breakpoints) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {

      
      .#{$breakpoint}\:bg-#{nth($color-names, $i)} {
        background-color: bg-color($i) !important;
      }
      .#{$breakpoint}\:text-#{nth($color-names, $i)} {
        color: bg-color($i) !important;
      }
      .#{$breakpoint}\:border-#{nth($color-names, $i)} {
        border-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:border-top-#{nth($color-names, $i)} {
        border-top-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:border-left-#{nth($color-names, $i)} {
        border-left-color: bg-color($i) !important;
      }
      .#{$breakpoint}\:border-right-#{nth($color-names, $i)} {
        border-right-color: bg-color($i) !important;
      }
      .#{$breakpoint}\:border-bottom-#{nth($color-names, $i)} {
        border-bottom-color: bg-color($i) !important;
      }
      .#{$breakpoint}\:border-x-color-#{nth($color-names, $i)} {
        border-left-color: bg-color($i) !important;
        border-right-color: bg-color($i) !important;
      }
      .#{$breakpoint}\:border-y-color-#{nth($color-names, $i)} {
        border-top-color: bg-color($i) !important;
        border-bottom-color: bg-color($i) !important;
      }
      .#{$breakpoint}\:hover\:bg-#{nth($color-names, $i)} {
        background-color: bg-color($i) !important;
      }
      .#{$breakpoint}\:hover\:bg-#{nth($color-names, $i)}-darken:hover {
        background-color: darken(bg-color($i), 20%);
      }
      .#{$breakpoint}\:hover\:bg-#{nth($color-names, $i)}-lighten:hover {
        background-color: lighten(bg-color($i), 20%);
      }
      .#{$breakpoint}\:bg-#{nth($color-names, $i)}-darken {
        background-color: darken(bg-color($i), 20%);
      }
      .#{$breakpoint}\:bg-#{nth($color-names, $i)}-lighten {
        background-color: lighten(bg-color($i), 20%);
      }
      .#{$breakpoint}\:hover\:text-#{nth($color-names, $i)} {
        color: bg-color($i) !important;
      }
      .#{$breakpoint}\:hover\:border-#{nth($color-names, $i)} {
        border-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:hover\:border-top-#{nth($color-names, $i)} {
        border-top-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:hover\:border-left-#{nth($color-names, $i)} {
        border-left-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:hover\:border-right-#{nth($color-names, $i)} {
        border-right-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:hover\:border-bottom-#{nth($color-names, $i)} {
        border-bottom-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:hover\:border-x-color-#{nth($color-names, $i)} {
        border-left-color: bg-color($i) !important;
        border-right-color: bg-color($i) !important;
      }

      .#{$breakpoint}\:hover\:border-y-color-#{nth($color-names, $i)} {
        border-top-color: bg-color($i) !important;
        border-bottom-color: bg-color($i) !important;
      }
    }
  }
}

.shadow-none {
  box-shadow: none!important;

}

.shadow-sm{
  box-shadow: 0 0.125rem 0.25rem darken($default,50%)!important;

}

.shadow {
  box-shadow: 0 0.5rem 1rem darken($default,50%)!important;

}

.shadow-lg {
  box-shadow: 0 1rem 3rem darken($default,50%)!important;
}
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.min-w-full {
  width: 100vw;
}

.max-w-full {
  height: 100vh;
}

.min-h-full {
  min-height: 100%;
}

.max-h-full {
  max-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-screen {
  max-height: 100vh;
}

.min-w-screen {
  min-width: 100vw;
}

.max-w-screen {
  max-width: 100vw;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}


.radius-none {
  border-radius: $border-radius-none;
}

.radius-full {
  border-radius: $border-radius-full;
}

.hover\:w-full:hover {
  width: 100%;
}

.hover\:h-full:hover {
  height: 100%;
}

.hover\:w-screen:hover {
  width: 100vw;
}

.hover\:h-screen:hover {
  height: 100vh;
}

.hover\:min-w-full:hover {
  width: 100vw;
}

.hover\:max-w-full:hover {
  height: 100vh;
}

.hover\:min-h-full:hover {
  min-height: 100%;
}

.hover\:max-h-full:hover {
  max-height: 100%;
}

.hover\:min-h-screen:hover {
  min-height: 100vh;
}

.hover\:max-h-screen:hover {
  max-height: 100vh;
}

.hover\:min-w-screen:hover {
  min-width: 100vw;
}

.hover\:max-w-screen:hover {
  max-width: 100vw;
}


.hover\:m-auto {
  margin: auto;
}

.hover\:ml-auto {
  margin-left: auto;
}

.hover\:mr-auto {
  margin-right: auto;
}

.hover\:mt-auto {
  margin-top: auto;
}

.hover\:mb-auto {
  margin-bottom: auto;
}

.hover\:mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.hover\:my-auto {
  margin-top: auto;
  margin-bottom: auto;
}


.hover\:radius-none {
  border-radius: $border-radius-none;
}

.hover\:radius-full {
  border-radius: $border-radius-full;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.hover\:text-center:hover {
  text-align: center;
}

.hover\:text-left:hover {
  text-align: left;
}

.hover\:text-right:hover {
  text-align: right;
}

.hover\:text-justify:hover {
  text-align: justify;
}

.hover\:text-nowrap:hover {
  white-space: nowrap;
}

.hover\:text-truncate:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hover\:text-lowercase:hover {
  text-transform: lowercase;
}

.hover\:text-uppercase:hover {
  text-transform: uppercase;
}

.hover\:text-capitalize:hover {
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}


@each $breakpoint in map-keys($breakpoints) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    .#{$breakpoint}\:overflow-hidden {
      overflow: hidden;
    }
    .#{$breakpoint}\:overflow-auto {
      overflow: auto;
    }
    .#{$breakpoint}\:overflow-y-auto {
      overflow-y: auto;
    }
    .#{$breakpoint}\:overflow-y-hidden {
      overflow-y: hidden;
    }
    .#{$breakpoint}\:overflow-x-auto {
      overflow-x: auto;
    }
    .#{$breakpoint}\:overflow-y-auto {
      overflow-y: auto;
    }
  }
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}

.text-no-underline {
  text-decoration: none;
}

.hover\:text-underline:hover {
  text-decoration: underline;
}

.hover\:text-line-through:hover {
  text-decoration: line-through;
}

.hover\:text-no-underline:hover {
  text-decoration: none;
}

@each $breakpoint in map-keys($breakpoints) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    .#{$breakpoint}\:w-full {
      width: 100% !important;
    }
    .#{$breakpoint}\:h-full {
      height: 100% !important;
    }
    .#{$breakpoint}\:min-h-screen {
      min-height: 100vh !important;
    }

    .#{$breakpoint}\:max-h-screen {
      max-height: 100vh !important;
    }

    .#{$breakpoint}\:min-w-screen {
      min-width: 100vw !important;
    }

    .#{$breakpoint}\:max-w-screen {
      max-width: 100vw !important;
    }
    .#{$breakpoint}\:hover\:min-h-screen {
      min-height: 100vh !important;
    }

    .#{$breakpoint}\:hover\:max-h-screen {
      max-height: 100vh !important;
    }

    .#{$breakpoint}\:hover\:min-w-screen {
      min-width: 100vw !important;
    }

    .#{$breakpoint}\:hover\:max-w-screen {
      max-width: 100vw !important;
    }

    .#{$breakpoint}\:m-auto {
      margin: auto !important;
    }

    .#{$breakpoint}\:ml-auto {
      margin-left: auto !important;
    }

    .#{$breakpoint}\:mr-auto {
      margin-right: auto !important;
    }

    .#{$breakpoint}\:mt-auto {
      margin-top: auto !important;
    }

    .#{$breakpoint}\:mb-auto {
      margin-bottom: auto !important;
    }

    .#{$breakpoint}\:mx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .#{$breakpoint}\:my-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }


    .#{$breakpoint}\:radius-none {
      border-radius: $border-radius-none !important;
    }

    .#{$breakpoint}\:radius-full {
      border-radius: $border-radius-full !important;
    }


    .#{$breakpoint}\:hover\:min-h-screen:hover {
      min-height: 100vh !important;
    }

    .#{$breakpoint}\:hover\:max-h-screen:hover {
      max-height: 100vh !important;
    }

    .#{$breakpoint}\:hover\:min-w-screen:hover {
      min-width: 100vw !important;
    }

    .#{$breakpoint}\:hover\:max-w-screen:hover {
      max-width: 100vw !important;
    }


    .#{$breakpoint}\:hover\:m-auto {
      margin: auto !important;
    }

    .#{$breakpoint}\:hover\:ml-auto {
      margin-left: auto !important;
    }

    .#{$breakpoint}\:hover\:mr-auto {
      margin-right: auto !important;
    }

    .#{$breakpoint}\:hover\:mt-auto {
      margin-top: auto !important;
    }

    .#{$breakpoint}\:hover\:mb-auto {
      margin-bottom: auto !important;
    }

    .#{$breakpoint}\:hover\:mx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .#{$breakpoint}\:hover\:my-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }


    .#{$breakpoint}\:hover\:radius-none {
      border-radius: $border-radius-none !important;
    }

    .#{$breakpoint}\:hover\:radius-full {
      border-radius: $border-radius-full !important;
    }

    .#{$breakpoint}\:text-center {
      text-align: center !important;
    }

    .#{$breakpoint}\:text-left {
      text-align: left !important;
    }

    .#{$breakpoint}\:text-right {
      text-align: right !important;
    }

    .#{$breakpoint}\:text-justify {
      text-align: justify !important;
    }


    .#{$breakpoint}\:text-nowrap {
      white-space: nowrap !important;
    }

    .#{$breakpoint}\:text-truncate {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
    }

    .#{$breakpoint}\:text-lowercase {
      text-transform: lowercase !important;
    }

    .#{$breakpoint}\:text-uppercase {
      text-transform: uppercase !important;
    }

    .#{$breakpoint}\:text-capitalize {
      text-transform: capitalize !important;
    }

    .#{$breakpoint}\:hover\:text-center:hover {
      text-align: center !important;
    }

    .#{$breakpoint}\:hover\:text-left:hover {
      text-align: left !important;
    }

    .#{$breakpoint}\:hover\:text-right:hover {
      text-align: right !important;
    }

    .#{$breakpoint}\:hover\:text-justify:hover {
      text-align: justify !important;
    }

    .#{$breakpoint}\:hover\:text-nowrap:hover {
      white-space: nowrap !important;
    }

    .#{$breakpoint}\:hover\:text-truncate:hover {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
    }

    .#{$breakpoint}\:hover\:text-lowercase:hover {
      text-transform: lowercase !important;
    }

    .#{$breakpoint}\:hover\:text-uppercase:hover {
      text-transform: uppercase !important;
    }

    .#{$breakpoint}\:hover\:text-capitalize:hover {
      text-transform: capitalize !important;
    }

    .#{$breakpoint}\:text-underline {
      text-decoration: underline !important;
    }

    .#{$breakpoint}\:text-line-through {
      text-decoration: line-through !important;
    }

    .#{$breakpoint}\:text-no-underline {
      text-decoration: none !important;
    }

    .#{$breakpoint}\:hover\:text-underline:hover {
      text-decoration: underline !important;
    }

    .#{$breakpoint}\:hover\:text-line-through:hover {
      text-decoration: line-through !important;
    }

    .#{$breakpoint}\:hover\:text-no-underline:hover {
      text-decoration: none !important;
    }

    .#{$breakpoint}\:w-full {
      width: 100% !important;
    }
    .#{$breakpoint}\:h-full {
      height: 100% !important;
    }

    .#{$breakpoint}\:w-screen {
      width: 100vw !important;
    }
    .#{$breakpoint}\:h-screen {
      height: 100vh !important;
    }
    .#{$breakpoint}\:min-w-full {
      min-width: 100% !important;
    }
    .#{$breakpoint}\:min-h-full {
      min-height: 100% !important;
    }

    .#{$breakpoint}\:max-w-full {
      max-width: 100% !important;
    }
    .#{$breakpoint}\:max-h-full {
      max-height: 100% !important;
    }

    .#{$breakpoint}\:hover\:w-full:hover {
      width: 100% !important;
    }
    .#{$breakpoint}\:hover\:h-full:hover {
      height: 100% !important;
    }

    .#{$breakpoint}\:hover\:w-screen:hover {
      width: 100vw !important;
    }
    .#{$breakpoint}\:hover\:h-screen:hover {
      height: 100vh !important;
    }
    .#{$breakpoint}\:hover\:min-w-full:hover {
      min-width: 100% !important;
    }
    .#{$breakpoint}\:hover\:min-h-full:hover {
      min-height: 100% !important;
    }

    .#{$breakpoint}\:hover\:max-w-full:hover {
      max-width: 100% !important;
    }
    .#{$breakpoint}\:hover\:max-h-full:hover {
      max-height: 100% !important;
    }



  }
}

@each $name, $value in $font-sizes {
  .text-#{$name} {
    font-size: #{$value}rem;
  }
  @each $breakpoint in map-keys($breakpoints) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      .#{$breakpoint}\:text-#{$name} {
        font-size: #{$value}rem;
      }
    }
  }
}

@for $i from 1 through length($lengths) {
  
  // border radius
  .radius-#{nth($lengths, $i)} {
    border-radius: #{$i*$border-radius-start};
  }

  .tl-radius-#{nth($lengths, $i)} {
    border-top-left-radius: #{$i*$border-radius-start};
  }
  .tr-radius-#{nth($lengths, $i)} {

    border-top-right-radius: #{$i*$border-radius-start};
  }
  .br-radius-#{nth($lengths, $i)} {

    border-bottom-right-radius: #{$i*$border-radius-start};
  }
  .bl-radius-#{nth($lengths, $i)} {
    border-bottom-left-radius: #{$i*$border-radius-start};
  }

  .l-radius-#{nth($lengths, $i)} {
    border-bottom-left-radius: #{$i*$border-radius-start};
    border-top-left-radius: #{$i*$border-radius-start};
  }

  .r-radius-#{nth($lengths, $i)} {
    border-bottom-right-radius: #{$i*$border-radius-start};
    border-top-right-radius: #{$i*$border-radius-start};
  }

  .t-radius-#{nth($lengths, $i)} {
    border-top-left-radius: #{$i*$border-radius-start};
    border-top-right-radius: #{$i*$border-radius-start};
  }

  .b-radius-#{nth($lengths, $i)} {
    border-bottom-left-radius: #{$i*$border-radius-start};
    border-bottom-right-radius: #{$i*$border-radius-start};
  }
  .hover\:text-#{nth($lengths, $i)}:hover {
    font-size: #{$i*16}px;
  }
  .hover\:radius-#{nth($lengths, $i)} {
    border-radius: #{$i*$border-radius-start};
  }

  .hover\:tl-radius-#{nth($lengths, $i)} {
    border-top-left-radius: #{$i*$border-radius-start};
  }
  .hover\:tr-radius-#{nth($lengths, $i)} {

    border-top-right-radius: #{$i*$border-radius-start};
  }
  .hover\:br-radius-#{nth($lengths, $i)} {

    border-bottom-right-radius: #{$i*$border-radius-start};
  }
  .hover\:bl-radius-#{nth($lengths, $i)} {
    border-bottom-left-radius: #{$i*$border-radius-start};
  }

  .hover\:l-radius-#{nth($lengths, $i)} {
    border-bottom-left-radius: #{$i*$border-radius-start};
    border-top-left-radius: #{$i*$border-radius-start};
  }

  .hover\:r-radius-#{nth($lengths, $i)} {
    border-bottom-right-radius: #{$i*$border-radius-start};
    border-top-right-radius: #{$i*$border-radius-start};
  }

  .hover\:t-radius-#{nth($lengths, $i)} {
    border-top-left-radius: #{$i*$border-radius-start};
    border-top-right-radius: #{$i*$border-radius-start};
  }

  .hover\:b-radius-#{nth($lengths, $i)} {
    border-bottom-left-radius: #{$i*$border-radius-start};
    border-bottom-right-radius: #{$i*$border-radius-start};
  }
  @each $breakpoint in map-keys($breakpoints) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
 
      .#{$breakpoint}\:radius-#{nth($lengths, $i)} {
        border-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:tl-radius-#{nth($lengths, $i)} {
        border-top-left-radius: #{$i*$border-radius-start} !important;
      }
      .#{$breakpoint}\:tr-radius-#{nth($lengths, $i)} {

        border-top-right-radius: #{$i*$border-radius-start} !important;
      }
      .#{$breakpoint}\:br-radius-#{nth($lengths, $i)} {

        border-bottom-right-radius: #{$i*$border-radius-start} !important;
      }
      .#{$breakpoint}\:bl-radius-#{nth($lengths, $i)} {
        border-bottom-left-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:l-radius-#{nth($lengths, $i)} {
        border-bottom-left-radius: #{$i*$border-radius-start} !important;
        border-top-left-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:r-radius-#{nth($lengths, $i)} {
        border-bottom-right-radius: #{$i*$border-radius-start} !important;
        border-top-right-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:t-radius-#{nth($lengths, $i)} {
        border-top-left-radius: #{$i*$border-radius-start} !important;
        border-top-right-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:b-radius-#{nth($lengths, $i)} {
        border-bottom-left-radius: #{$i*$border-radius-start} !important;
        border-bottom-right-radius: #{$i*$border-radius-start} !important;
      }
      .#{$breakpoint}\:hover\:text-#{nth($lengths, $i)}:hover {
        font-size: #{$i*16}px !important;
      }
      .#{$breakpoint}\:hover\:radius-#{nth($lengths, $i)}:hover {
        border-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:hover\:tl-radius-#{nth($lengths, $i)}:hover {
        border-top-left-radius: #{$i*$border-radius-start} !important;
      }
      .#{$breakpoint}\:hover\:tr-radius-#{nth($lengths, $i)}:hover {
        border-top-right-radius: #{$i*$border-radius-start} !important;
      }
      .#{$breakpoint}\:hover\:br-radius-#{nth($lengths, $i)}:hover {
        border-bottom-right-radius: #{$i*$border-radius-start} !important;
      }
      .#{$breakpoint}\:hover\:bl-radius-#{nth($lengths, $i)}:hover {
        border-bottom-left-radius: #{$i*$border-radius-start} !important;
        border-top-left-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:hover\:l-radius-#{nth($lengths, $i)}:hover {
        border-bottom-left-radius: #{$i*$border-radius-start} !important;
        border-top-left-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:hover\:r-radius-#{nth($lengths, $i)}:hover {
        border-bottom-right-radius: #{$i*$border-radius-start} !important;
        border-top-right-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:hover\:t-radius-#{nth($lengths, $i)}:hover {
        border-top-left-radius: #{$i*$border-radius-start} !important;
        border-top-right-radius: #{$i*$border-radius-start} !important;
      }

      .#{$breakpoint}\:hover\:b-radius-#{nth($lengths, $i)}:hover {
        border-bottom-right-radius: #{$i*$border-radius-start} !important;
        border-bottom-left-radius: #{$i*$border-radius-start} !important;
      }
    }
  }
}


@each $breakpoint in map-keys($breakpoints) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    .#{$breakpoint}\:d-none {
      display: none;
    }

    
    @for $i from 0 through 100 {
      .#{$breakpoint}\:translate-y-#{$i} {
        transform: translateY(#{$i}+'%');
      }
      .#{$breakpoint}\:translate-x-#{$i} {
        transform: translateX(#{$i}+'%');
      }
    }
    .#{$breakpoint}\:inline-block {
      display: inline-block;
    }

    .#{$breakpoint}\:block {
      display: block;
    }

    .#{$breakpoint}\:absolute {
      position: absolute;
    }

    .#{$breakpoint}\:relative {
      position: relative;
    }

    .#{$breakpoint}\:fixed {
      position: fixed;
    }

    .#{$breakpoint}\:sticky {
      position: sticky;
    }

    .#{$breakpoint}\:static {
      position: static;
    }

    .#{$breakpoint}\:fill {
      object-fit: fill;
    }

    .#{$breakpoint}\:contain {
      object-fit: contain;
    }

    .#{$breakpoint}\:cover {
      object-fit: cover;
    }

    .#{$breakpoint}\:scale-down {
      object-fit: scale-down;
    }

    .#{$breakpoint}\:object-none {
      object-fit: none;
    }

    .#{$breakpoint}\:aspect-ratio-1\/1 {
      aspect-ratio: 1/1;
    }

    .#{$breakpoint}\:aspect-ratio-4\/3 {
      aspect-ratio: 4/3;
    }

    .#{$breakpoint}\:aspect-ratio-16\/9 {
      aspect-ratio: 16/9;
    }


    .#{$breakpoint}\:hover\:inline-block:hover {
      display: inline-block;
    }

    .#{$breakpoint}\:hover\:block:hover {
      display: block;
    }

    .#{$breakpoint}\:hover\:absolute:hover {
      position: absolute;
    }

    .#{$breakpoint}\:hover\:relative:hover {
      position: relative;
    }

    .#{$breakpoint}\:hover\:fixed:hover {
      position: fixed;
    }

    .#{$breakpoint}\:hover\:sticky:hover {
      position: sticky;
    }

    .#{$breakpoint}\:hover\:static:hover {
      position: static;
    }

    .#{$breakpoint}\:hover\:fill:hover {
      object-fit: fill;
    }

    .#{$breakpoint}\:hover\:contain:hover {
      object-fit: contain;
    }

    .#{$breakpoint}\:hover\:cover:hover {
      object-fit: cover;
    }

    .#{$breakpoint}\:hover\:scale-down:hover {
      object-fit: scale-down;
    }

    .#{$breakpoint}\:hover\:object-none:hover {
      object-fit: none;
    }

    .#{$breakpoint}\:hover\:aspect-ratio-1\/1:hover {
      aspect-ratio: 1/1;
    }

    .#{$breakpoint}\:hover\:aspect-ratio-4\/3:hover {
      aspect-ratio: 4/3;
    }

    .#{$breakpoint}\:hover\:aspect-ratio-16\/9:hover {
      aspect-ratio: 16/9;
    }


  }
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}
.d-none {
  display: none;
}
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.static {
  position: static;
}

.hover\:inline-block:hover {
  display: inline-block;
}

.hover\:block:hover {
  display: block;
}

.hover\:absolute:hover {
  position: absolute;
}

.hover\:relative:hover {
  position: relative;
}

.hover\:fixed:hover {
  position: fixed;
}

.hover\:sticky:hover {
  position: sticky;
}

.hover\:static:hover {
  position: static;
}

@each $breakpoint in map-keys($breakpoints) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    .#{$breakpoint}\:inline-block {
      display: inline-block;
    }

    .#{$breakpoint}\:block {
      display: block;
    }

    .#{$breakpoint}\:absolute {
      position: absolute;
    }

    .#{$breakpoint}\:relative {
      position: relative;
    }

    .#{$breakpoint}\:fixed {
      position: fixed;
    }

    .#{$breakpoint}\:sticky {
      position: sticky;
    }

    .#{$breakpoint}\:static {
      position: static;
    }

    .#{$breakpoint}\:hover\:inline-block:hover {
      display: inline-block;
    }

    .#{$breakpoint}\:hover\:block:hover {
      display: block;
    }

    .#{$breakpoint}\:hover\:absolute:hover {
      position: absolute;
    }

    .#{$breakpoint}\:hover\:relative:hover {
      position: relative;
    }

    .#{$breakpoint}\:hover\:fixed:hover {
      position: fixed;
    }

    .#{$breakpoint}\:hover\:sticky:hover {
      position: sticky;
    }

    .#{$breakpoint}\:hover\:static:hover {
      position: static;
    }
  }
}

@for $i from 1 through 100 {
  .opacity-#{$i} {
    opacity: #{$i}\%;
  }
  .top-#{$i} {
    top: #{$i}\%;
  }
  .right-#{$i} {
    right: #{$i}\%;
  }
  .bottom-#{$i} {
    bottom: #{$i}\%;
  }
  .left-#{$i} {
    left: #{$i}\%;
  }

  .hover\:opacity-#{$i}:hover {
    opacity: #{$i}\%;
  }
  .hover\:top-#{$i}:hover {
    top: #{$i}\%;
  }
  .hover\:right-#{$i}:hover {
    right: #{$i}\%;
  }
  .hover\:bottom-#{$i}:hover {
    bottom: #{$i}\%;
  }
  .hover\:left-#{$i}:hover {
    left: #{$i}\%;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      .#{$breakpoint}\:opacity-#{$i} {
        opacity: #{$i}\%;
      }
      .#{$breakpoint}\:top-#{$i} {
        top: #{$i}\%;
      }
      .#{$breakpoint}\:right-#{$i} {
        right: #{$i}\%;
      }
      .#{$breakpoint}\:bottom-#{$i} {
        bottom: #{$i}\%;
      }
      .#{$breakpoint}\:left-#{$i} {
        left: #{$i}\%;
      }
      .#{$breakpoint}\:hover\:opacity-#{$i}:hover {
        opacity: #{$i}\%;
      }
      .#{$breakpoint}\:hover\:top-#{$i}:hover {
        top: #{$i}\%;
      }
      .#{$breakpoint}\:hover\:right-#{$i}:hover {
        right: #{$i}\%;
      }
      .#{$breakpoint}\:hover\:bottom-#{$i}:hover {
        bottom: #{$i}\%;
      }
      .#{$breakpoint}\:hover\:left-#{$i}:hover {
        left: #{$i}\%;
      }
    }
  }
}


@for $i from -500 through 1000 {
  .top-#{$i} {
    top: #{$i}px;
  }
  .right-#{$i} {
    right: #{$i}px;
  }
  .bottom-#{$i} {
    bottom: #{$i}px;
  }
  .left-#{$i} {
    left: #{$i}px;
  }

  .hover\:top-#{$i}:hover {
    top: #{$i}px;
  }
  .hover\:right-#{$i}:hover {
    right: #{$i}px;
  }
  .hover\:bottom-#{$i}:hover {
    bottom: #{$i}px;
  }
  .hover\:left-#{$i}:hover {
    left: #{$i}px;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {

      .#{$breakpoint}\:top-#{$i} {
        top: #{$i}px;
      }
      .#{$breakpoint}\:right-#{$i} {
        right: #{$i}px;
      }
      .#{$breakpoint}\:bottom-#{$i} {
        bottom: #{$i}px;
      }
      .#{$breakpoint}\:left-#{$i} {
        left: #{$i}px;
      }

      .#{$breakpoint}\:hover\:top-#{$i}:hover {
        top: #{$i}px;
      }
      .#{$breakpoint}\:hover\:right-#{$i}:hover {
        right: #{$i}px;
      }
      .#{$breakpoint}\:hover\:bottom-#{$i}:hover {
        bottom: #{$i}px;
      }
      .#{$breakpoint}\:hover\:left-#{$i}:hover {
        left: #{$i}px;
      }
    }
  }
}
