
// Mixins pour le overflow
@mixin overflow-auto {
  overflow: auto;
  }
  
  @mixin overflow-hidden {
  overflow: hidden;
  }
  
  @mixin overflow-visible {
  overflow: visible;
  }
  
  @mixin overflow-scroll {
  overflow: scroll;
  }
  
  @mixin overflow-x-auto {
  overflow-x: auto;
  }
  
  @mixin overflow-y-auto {
  overflow-y: auto;
  }
  
  @mixin overflow-x-hidden {
  overflow-x: hidden;
  }
  
  @mixin overflow-y-hidden {
  overflow-y: hidden;
  }
  
  @mixin overflow-x-visible {
  overflow-x: visible;
  }
  
  @mixin overflow-y-visible {
  overflow-y: visible;
  }
  
  @mixin overflow-x-scroll {
  overflow-x: scroll;
  }
  
  @mixin overflow-y-scroll {
  overflow-y: scroll;
  }


// Mixins pour le positionnement
@mixin static {
  position: static;
  }
  
  @mixin fixed {
  position: fixed;
  }
  
  @mixin absolute {
  position: absolute;
  }
  
  @mixin relative {
  position: relative;
  }
  
  @mixin sticky {
  position: sticky;
  }
