table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    overflow:auto;
    border: 15px;
    th {
      background-color: $default;
      border: 1px solid $ghost;
      padding: 8px;
      color: $light;
      text-align: center;
    }
  
    td {
      border: 1px solid $default;
      padding: 8px;
      text-align: center;
      color: $light;
    }
    
    &.table-style-revert {
      th {
        background-color: $ghost;
        border: 1px solid $default;
        padding: 8px;
        text-align: center;
      }
  
      td {
        border: 1px solid $ghost;
        padding: 8px;
        text-align: center;
      }
    }
  }