.accordeon {
    .accordeon__item {
      margin-top: 1rem;
      margin-bottom: 1rem;
      background: $ghost;
      padding: 12px;
      border-radius: 8px;
  
      &__content {
        opacity: 0;
        height: 0;
        overflow: auto;
        transition: opacity 0.7s ease-in-out 0.5s, height 0.7s ease-in-out;
      }
  
      &__active {
        > .accordeon__item__content {
          opacity: 1;
          height: auto;
          transition: opacity 0.7s ease-in-out, height 0.7s ease-in-out 0.5s;
        }
  
        .accordeon__item__header__toggle {
          transition: transform 0.5s ease-in-out;
          transform: rotate(0deg);
        }
      }
  
      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
  
      &__header {
        display: flex;
        align-items: center;
        padding: 8px 0;
        cursor: pointer;
  
        &__toggle {
          transition: transform 0.5s ease-in-out;
          transform: rotate(-90deg);
        }
  
        > * {
          margin-right: 1rem;
        }
  
        > :last-child {
          margin-right: 0;
        }
  
      }
  
    }
  }
  
  