.footer {
  background-color: $ghost;
  color: $light;
  width: 100%;
  min-height: 300px;
  margin: 0;
  padding: 15px 0 0 30px;

  &-content {
    @extend .grid;
    @extend .grid-cols-3;

    &-col {
      @extend .col-span-1;
      
      ul li{
        padding: 5px;
      }

      h4{
        margin-left: 50px;
      }

      &-logo{
        width: 200px;
        height: 200px;
      }

      &-full{
        @extend .col-span-3;
        justify-content: center;

        &-socials{
          text-align: center;
          margin-right: 30px;

          &-icon{
            width: 20px;
            height: 20px;
          }
        }

        &-divider{
          width: 900px;
          height: 5px;
          background-color: $default;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &-content {
      display: block;

      &-col {
        display: block;
        width: 100%;

      }
    }
  }
}


